.clamped {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #48535B;
}

.text {
  padding: 8px 12px;
  border: 1px solid #E5E9EB;
  border-radius: 6px;
  margin-bottom: 15px;
}