.integrations {
  .header {
    background-color: #fff;
    margin: 1rem;
    padding: 0 1rem;
    width: fit-content;
    border-radius: 4px;
    font-size: 1.1rem;
  }

  .card {
    background-color: #fff;
    width: 200px;
    border-radius: 12px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 150ms;
    &:hover {
      border-color: var(--primary-color);
    }
    &_img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120px;
      img {
        width: 50%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.2rem 0.5rem 0;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
    }
  }
}
