.uphone {
  max-width: 357px;
  width: 100%;

  .header {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 8px;
  }
  .uphoneWrapperBg {
    background-color: #f6f6f6;
    padding: 8px 12px;
    border-radius: 6px;
  }

  .uphoneWrapper {
    display: flex;

    p {
      font-size: 16px;
      font-weight: 500;
      color: #262626;
      margin-left: 7px;
    }
  }
}
